@use "mixin" as *;
@use "destyle";

:root {
  --root-font-size: $baseFontSize;
  --color-bg: #f5f5f5;
  --color-text: #383e45;
  --color-white: #fff;
  // --color-accentA: #64C1B8; 後で変更してOK
  // --color-accentB: #E4007F; 後で変更してOK
  font-family: 'Noto Sans JP', "游ゴシック体", YuGothic, sans-serif;
  // line-height: 2.2;
  // letter-spacing: .16rem;
  text-align: justify;
  font-feature-settings: "palt";
  scroll-behavior: smooth;
  overflow-x: hidden;
}


// ここからモバイル版------------------

body {
  overflow-x: hidden;
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    .site-title {
      width: 120px;
      line-height: 1px;
      padding: 10px 0;
      a {
        display: block;
      }
      img {
        max-width: 100%;
      }
    }
  }
  .wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
  }
  #header ul {
    display: flex;
    padding: 10px 0;
    li {
      margin-left: 30px;
  }
  }
  main {
    #mainvisual {
      margin-bottom: 80px;
      img {
        max-width: 1920px;
        width: 100%;
        height: 60vh;
        object-fit: cover;
      }
    }
    #about {
      h2 {
        display: inline-block;
        font-size: rem(40);
        font-weight: 600;
        line-height: 72px;
        text-align: center;
        margin-bottom: 60px;
        border-bottom: solid 1px #383e45;
      }
      .content {
        img {
          width: 100px;
          border-radius: 100%;
        }
        .text {
          text-align: left;
          h3 {
            font-size: rem(16);
            font-weight: 600;
            margin: 10px 0;
          }
          p {
            font-weight: 400;
            letter-spacing: 3px;
          }
        }
      }
    }
    #bicycle {
      h2 {
        display: inline-block;
        font-size: rem(40);
        font-weight: 600;
        line-height: 72px;
        text-align: center;
        margin-bottom: 60px;
        border-bottom: solid 1px #383e45;
      }
      ul {
        li {
          margin-bottom: 30px;
          img {
            width: 100%;
            max-width: 640px;
          }
          h3 {
            font-weight: 600;
            margin: 10px 0;
          }
        }
      }
    }
  }
  footer {
    text-align: center;
    font-size: rem(8);
    padding: 10px 0;
  }
}

// ここからPC版------------------

@media screen and (min-width: 600px) {
  body {
    main {
      #about {
        .content {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 30px;
          width: 620px;
          margin: 0 auto;
          img {
            width: 100px;
            border-radius: 100%;
          }
          .text {
            text-align: left;
            h3 {
              font-size: rem(16);
              font-weight: 600;
              margin: 10px 0;
            }
            p {
              font-weight: 400;
              letter-spacing: 3px;
            }
          }
        }
      }
      #bicycle {
        ul {
          display: flex;
          justify-content: space-between;
          li {
            width: 32%;
            margin-bottom: 30px;
            img {
              width: 100%;
              max-width: 640px;
            }
            h3 {
              font-weight: 600;
              margin: 10px 0;
            }
          }
        }
      }
    }
    footer {
      text-align: center;
      font-size: rem(8);
      padding: 10px 0;
    }
  }
}